<html>
<head>
  <meta charset='UTF-8'>
  <title>People Info</title>
</head>
<body>
    <th>Name</th><th>Phone Number</th><th>Day Registered</th><th>Hour Registered</th>
      <tr>
        <td><%= name %></td>
        <td><%= phone_number %></td>
        <td><%= day %></td>
        <td><%= registered_time %></td>
      <tr>

  </table>
</body>
</html>